<!DOCTYPE html>
<html>
  <head>
    <title>Shepherd</title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="row head">
      <div class="small-3 large-2 columns">
        <h1>Shepard</h1>
      </div>
      <div class="small-4 large-2 columns">
        <%= yield :admin_navigation%>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
