<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Shepard" %></title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>


    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_include_tag "application", params[:controller],:media => "all", 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <i class="fa fa-flag" style="display:none"></i>
    <div class='head'>
      <div class="row">
        <div class="small-4 columns">
          <h1><%= link_to 'Shepherd', root_path %></h1>
        </div>

        <div class="small-8 columns">
          <div class="float-right">
            <div class="button-group">
              <button class="button" type="button" data-toggle="projects-dropdown">Projects</button>
              <% if content_for?(:actions) %>
                <%= yield(:actions) %>
              <% else %>
                <%= link_to "admin", admin_root_path, class: 'button' %>
            <% end %>
              <%= link_to "new service", new_service_path, class: 'button' %>

            </div>

          </div>
        </div>

        <div class="dropdown-pane" id="projects-dropdown" data-dropdown data-close-on-click='true'>
          <ul class='menu vertical'>
            <% @projects.each do |project|%>
              <li>
                <%= link_to project.name, project_path(project) %>
              </li>
            <% end %>
          </ul>

        </div>

      </div>
    </div>
    <% unless @error.nil? %>
      <div class="callout small warning">
        <h5>Error</h5>
        <p><%= @error %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
