<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Shepard" %></title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <i class="fa fa-flag" style="display:none"></i>

    <div class="row head">
      <div class="small-4 columns">
        <h1>Shepard</h1>
      </div>
      <% if content_for?(:admin_path) %>
      <div class="small-4 columns">
        <div class="button float-right">
          <%= link_to "admin", yield(:admin_path) %>
        </div>
      </div>
      <% end %>



    </div>
    <%= yield %>
  </body>
</html>
